html, body  
	{background: #ffffff; 
	 text-align: center; 
	 font-size: 1em; 
	 font-family: verdana, tahoma, arial, helvetica, sans-serif;
	}
body *
	{color:black;
	}

	}
h1 
	{font-size: 1.4em; 
	 font-weight: bold;
	 color:green;
	}
h2 
	{font-size: 1.2em;
	}
